<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/png" href="/resource/Jazyy white blue.png">
    <link rel="stylesheet" href="/stylesheets/myfolio.css">
    <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.9.0/css/all.css">
</head>
<body>
{{{ body }}}
</body>
</html>