/* this css file controls the format of contact us page */

@import "general.css";

html {
    scroll-behavior: smooth;
}

#section1 {
    background-image: url("../resource/Contact page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

div.details_right {
    color: black;
    font-size: 25px;
    margin-left: 50vw;
    width: 40vw;
}

div.bold {
    font-size: 65px;
    font-family: GothicB, sans-serif;
}